admin/.DS_Store
admin/node_modules
admin/dist


# local env files
admin/.env.local
admin/.env.*.local

# Log files
admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*
admin/pnpm-debug.log*

# Editor directories and files
admin/.idea
admin/.vscode
admin/*.suo
admin/*.ntvs*
admin/*.njsproj
admin/*.sln
admin/*.sw?

user/.DS_Store
user/node_modules
user/dist


# local env files
user/.env.local
user/.env.*.local

# Log files
user/npm-debug.log*
user/yarn-debug.log*
user/yarn-error.log*
user/pnpm-debug.log*

# Editor directories and files
user/.idea
user/.vscode
user/*.suo
user/*.ntvs*
user/*.njsproj
user/*.sln
user/*.sw?


point_admin/.DS_Store
point_admin/node_modules
point_admin/dist


# local env files
point_admin/.env.local
point_admin/.env.*.local

# Log files
point_admin/npm-debug.log*
point_admin/yarn-debug.log*
point_admin/yarn-error.log*
point_admin/pnpm-debug.log*

# Editor directories and files
point_admin/.idea
point_admin/.vscode
point_admin/*.suo
point_admin/*.ntvs*
point_admin/*.njsproj
point_admin/*.sln
point_admin/*.sw?

super_admin/.DS_Store
super_admin/node_modules
super_admin/dist


# local env files
super_admin/.env.local
super_admin/.env.*.local

# Log files
super_admin/npm-debug.log*
super_admin/yarn-debug.log*
super_admin/yarn-error.log*
super_admin/pnpm-debug.log*

# Editor directories and files
super_admin/.idea
super_admin/.vscode
super_admin/*.suo
super_admin/*.ntvs*
super_admin/*.njsproj
super_admin/*.sln
super_admin/*.sw?